


<style type="text/css">
	
.hading2{
	margin-top: 6%;

	/*text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
}

.card {
  background: #e2e1e0;
  text-align: center;
  background: #fff;
  border-radius: 20px;
  display: inline-block;
  height: 60vh;
  position: relative;
  width: 70%;
}
.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
</style>


<div class="card card-5">
	<h1>{{message}}</h1>
	{{#if parking}}
	<h2 class="hading2">Slot_no: {{parking.Slot_no}}</h2>
	{{/if}}
	<button onclick="goBack()" class="hading2 country_edit" type="submit">Go Back</button>
</div>

<script>
function goBack() {
    window.history.back();
}
</script>